.Title {
  font-family: PokemonSolid;
  color: var(--secondary);
  font-size: clamp(3.5rem, 7.5vw, 7.5rem);
  text-align: center;
  -webkit-text-stroke: 4px var(--primary);
  letter-spacing: 0.2rem;
}

.Container {
  max-width: 1920px;
  padding: 0 1rem;
  margin: 0 auto;
}

.Grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-auto-columns: max-content;
}

.Grid div {
  background-color: var(--light-blue);
  padding: 1rem;
  text-align: center;
  color: var(--white);
  font-size: 115%;
}
